@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* @font-face {
    font-family: PT Sans;
    src: url(/PT_Sans-Web-Regular.ttf);
} */
*{
    font-family: 'PT Sans-Bold', sans-serif;
    color: black;
}
.small_icon {display:none;}
.icon{
    display:block;
    padding: 0 15px;
}
@media (max-width: 680px) {
    .small_icon {display:block;}
    .icon{display:none;}
}
@media (min-width: 650px) {
    :not(small):not(h2){
        font-size: 18px;
    }
}
body{
    margin: 0;
}
.navbar{
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    border-top: 5px solid #0687d8;
}
.navbar li {
    display: inline-block;
    padding: 15px 0;
    border-bottom: 5px solid transparent;
    transition: 0.15s linear;
    font-weight:300;
}

.navbar li:hover {
    border-bottom: 5px solid #6dc9ff;
    font-weight: bolder;
}
.navbar a{
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
}
/* IDEA: This one may be removed */
button{
    background-color: #0687d8;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    border: 0;
    font-size: 18px;
    transition: 0.1s linear;
    position: relative;
    z-index:10;
}
button:hover {
    background-color: #50b9fc;
    box-shadow: 1px 1px 2px steelblue;
}
select{
    border: 1px solid lightgray;
}
.confirmDel{
    position: fixed;
    display: none;
    background: white;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
    border: 1px solid gray;
    z-index:13;
}
iframe{
    margin: 10px 0 0 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index:12;
    border: 0;
    width: 80%;
    transition: opacity 0.3s linear;
    height: 80%;
}
