table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 1px 2px steelblue;
    /* padding: 1%; */
    table-layout: fixed;
}
table caption{
    padding: 10px;
}
body{
    text-align: center;
    margin: 10px;
}
th{
    background: #0687d8;
    color: white;
}
tr{
    height: 40px;
    white-space: nowrap;
}
tr:hover {
    background: #f4faff;
}
td{
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.1s linear;
}
table, td {
    border-bottom: 1px solid #ddd;
    text-indent: 10px;
    font-weight: lighter;
    font-size: 16px;
}
td button{
    font-size: 14px;
    padding: 5px 3%;
    margin: 2px;
    background: transparent;
}
@media (min-width: 650px) {
    table, td{
        font-size: 18px;
    }
}
#cancel{
    opacity: 0;
    position: fixed;
    border-radius: 35px;
    left: 50
    width: 20%;
    transform: translateX(-50%);
    z-index:13;
}
